In [12]:
import numpy as np
import pandas as pd
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [2]:
data = pd.read_csv('/data/notebook_files/Costomer+OrderForm.csv')
data1 = data.replace({'Error Free','Defective'},{1,0})

In [5]:
data1 = data.replace({'Error Free','Defective'},{1,0})
data1 =data1.stack().reset_index()
data1.head()

,level_0,level_1,0
0,0,Phillippines,1
1,0,Indonesia,1
2,0,Malta,0
3,0,India,1
4,1,Phillippines,1

In [7]:
df = data1.rename(columns = {'level_1':'Country',0:'Category'})
df.head()

,level_0,Country,Category
0,0,Phillippines,1
1,0,Indonesia,1
2,0,Malta,0
3,0,India,1
4,1,Phillippines,1

In [8]:
df = pd.crosstab(df['Country'],df['Category'])
df.head()

Category,0,1
Country,,
India,20,280
Indonesia,33,267
Malta,31,269
Phillippines,29,271

In [9]:
stat, p, dof,expected = chi2_contingency(df)
print('Degree of freedom: %d'%dof)

Degree of freedom: 3

In [13]:
prob = 0.95
critical = chi2.ppf(prob,dof)
print('Probability: %.3f,Critical: %.3f,stat:%.3f'% (prob,critical,stat))

Probability: 0.950,Critical: 7.815,stat:3.859

In [14]:
if abs(stat) >= critical:
    print('dependent reject H0')
else:
    print('Independent reject H1')

alpha = 1 - prob
print('Significance: %.3f,P-value: %.3f'% (alpha,p))

if p<= alpha:
    print('dependent reject H0')
else:
    print('Independent reject H1')

Independent reject H1
Significance: 0.050,P-value: 0.277
Independent reject H1

As per our observation, We rejected alternative hypothesis it means that defective % not various with telecom center.